{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content %}
<div class="intro-text">
    For CUNE Students by CUNE Students
</div>

<!-- Flex container to display the two links side by side -->
<div class="links-container"
    style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: nowrap;">
    <!-- For You Page Link -->
    <a href="{% pageurl for_you_page %}" class="graphic-link" style="flex: 1; margin: 10px;">
        <div class="graphic-label">For You Page</div>
        <img src="{% static 'images/foryou.jpg' %}" alt="For You Page Graphic">
    </a>
    <!-- Following Page Link -->
    <a href="{% pageurl following_page %}" class="graphic-link" style="flex: 1; margin: 10px;">
        <div class="graphic-label">Following Page</div>
        <img src="{% static 'images/following.jpg' %}" alt="Following Page Graphic">
    </a>
</div>
{% endblock %}